@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/mediaQueries';

.toggle {
    padding: 1rem 2rem;
    border-bottom: $nav-border;
    color: $first-color;
    background-color: $body-color;
    @include flex(start, center, 2rem);
    position: absolute;
    width: 100%;
    z-index: 999;

    img {
        width: 100px;
    }

    @include tablet {
           display: none;
     }
}
